<form role="form">
    <label>
        <span style="display: block">Modifier:</span>
        <input type="number" value="0" name="modifier" />
    </label>

    <label>
        <span style="display: block">Characteristic:</span>
        <select name="characteristic">
            {{#select characteristic }}
                <option value="ST">Str</option>
                <option value="DX">DX</option>
                <option value="IQ">IQ</option>
                <option value="HT">HT</option>
                <option value="Will">Will</option>
                <option value="Per">Per</option>
            {{/select }}
        </select>
    </label>
</form>