.small-number,
input.small-number {
    width: 3em;
}

.item-button {
    width: 50px;
}

.btn-sm {
    font-size: 12px;
    width: 30px;
    line-height: 20px;
    padding: 0;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 20px;
}