<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ actor.img }}" style="max-width: 150px; height: auto" title="{{ actor.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'example.NAME' }}" />
            </h1>
        </section>

        <aside class="header-secondary flexcol">
            <div class="mb-1">
                HP: <input type="number" class="small-number" name="data.HP.value" value="{{ actor.data.HP.value }}" />
            </div>
            <div class="mb-1">
                FP: <input type="number" class="small-number" name="data.FP.value" value="{{ actor.data.FP.value }}" />
            </div>
        </aside>

        <aside>
            <div class="mb-1">
                Basic Lift: {{ actor.data.basic_lift }}lbs
            </div>
            <div class="mb-1">
                Damage (thr): {{ actor.data.damage.thrust }}
                <button
                        class="item-button rollable btn-sm"
                        data-roll-string="{{ actor.data.damage.thrust }}"
                        data-roll-text="damage (thrust)"
                        type="button"
                >
                    <i class="fas fa-dice"></i>
                </button>
            </div>
            <div class="mb-1">
                Damage (sw): {{ actor.data.damage.swing }}
                <button
                        class="item-button rollable btn-sm"
                        data-roll-string="{{ actor.data.damage.swing }}"
                        data-roll-text="damage (swing)"
                        type="button"
                >
                    <i class="fas fa-dice"></i>
                </button>
            </div>
            <div class="mb-1">
                Dodge: {{ actor.data.dodge }}
                <button
                        class="item-button rollable btn-sm"
                        data-roll-characteristic="dodge"
                        data-roll-text="Rolling dodge"
                        type="button"
                >
                    <i class="fas fa-dice"></i>
                </button>
            </div>
            <div class="mb-1">
                Points: {{ actor.data.points.total }}
            </div>
        </aside>
    </header>

    {{{ partial "templates/actors/partials/characteristics.html" }}}

    {{!-- Navigation --}}
    <nav class="sheet-navigation tabs mb-2" data-group="primary">
        <a class="item active" data-tab="bio">Bio</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="advantages">Advantages</a>
        <a class="item" data-tab="equipment">Equipment</a>
    </nav>

    {{!-- Body --}}
    <section class="sheet-body mb-2">
        <div class="tab bio" data-group="primary" data-tab="bio">
            {{!-- To auto save character data give it a name rooted to the 'actor' object (i.e. name or data.ST.value)  --}}
            <div>
                <span>
                    Basic Speed:
                </span>
                <input type="number" name="data.basic_speed" value="{{ actor.data.basic_speed }}"/>
            </div>

            <div>
                <span>
                    Basic Move:
                </span>
                <input type="number" name="data.basic_move" value="{{ actor.data.basic_move }}"/>
            </div>

            <div>
                <span>
                    TL:
                </span>
                <input type="number" name="data.tl" value="{{ actor.data.tl }}"/>
            </div>

            <textarea name="data.biography" rows="20">{{ actor.data.biography }}</textarea>

            <div>Primary Characteristics: {{ actor.data.points.characteristics }}pts</div>
            <div>Secondary Characteristics: {{ actor.data.points.secondary }}pts</div>
            <div>Skills: {{ actor.data.points.skills }}pts</div>
            <div>Advantages: {{ actor.data.points.advantages }}pts</div>
        </div>

        <div class="tab skills" data-tab="skills">
            {{{ partial "templates/actors/partials/skills.html" }}}
        </div>

        <div class="tab advantages" data-tab="advantages">
            {{{ partial "templates/actors/partials/advantages.html" }}}
        </div>

        <div class="tab equipment" data-tab="equipment">
            {{{ partial "templates/actors/partials/equipment.html" }}}
        </div>

    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>