<div>
    <span>
        TL:
    </span>
    <input type="number" name="data.tl" value="{{ item.data.tl }}"/>
</div>

<div>
    <span>
        Cost:
    </span>
    <input type="number" name="data.cost" value="{{ item.data.cost }}"/>
</div>
<div>
    <span>
        Weight:
    </span>
    <input type="number" name="data.weight" value="{{ item.data.weight }}"/>
</div>