{{#each advantages as |item id|}}
<div class="advantage-list">
    <h3>
        <button class="item-button" data-action="delete-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        {{ item.local_name }}
        {{ item.data.value }} ({{ item.total_points }}pts)
    </h3>

    <p>{{ item.data.description }}</p>
</div>
{{/each}}