<table>
    <tr>
        <th>
            <button
                class="item-button rollable"
                data-roll-characteristic="ST"
                data-roll-text="Rolling ST"
                type="button"
            >
                <i class="fas fa-dice"></i>
            </button>
            ST:
        </th>
        <td><input type="number" class="small-number" name="data.ST" value="{{ actor.data.ST }}" /></td>

        <th>
            <button
                    class="item-button rollable"
                    data-roll-characteristic="DX"
                    data-roll-text="Rolling DX"
                    type="button"
            >
                <i class="fas fa-dice"></i>
            </button>

            DX:
        </th>
        <td><input type="number" class="small-number" name="data.DX" value="{{ actor.data.DX }}" /></td>

        <th>
            <button
                    class="item-button rollable"
                    data-roll-characteristic="IQ"
                    data-roll-text="Rolling IQ"
                    type="button"
            >
                <i class="fas fa-dice"></i>
            </button>
            IQ:
        </th>
        <td><input type="number" class="small-number" name="data.IQ" value="{{ actor.data.IQ }}" /></td>

        <th>
            <button
                    class="item-button rollable"
                    data-roll-characteristic="HT"
                    data-roll-text="Rolling HT"
                    type="button"
            >
                <i class="fas fa-dice"></i>
            </button>
            HT:
        </th>
        <td><input type="number" class="small-number" name="data.HT" value="{{ actor.data.HT }}" /></td>
    </tr>

    <tr>
        <th>Max HP:</th>
        <td><input type="number" class="small-number" name="data.HP.max" value="{{ actor.data.HP.max }}" /></td>

        <th>
            <button
                    class="item-button rollable"
                    data-roll-characteristic="Will"
                    data-roll-text="Rolling Will"
                    type="button"
            >
                <i class="fas fa-dice"></i>
            </button>
            Will:
        </th>
        <td><input type="number" class="small-number" name="data.Will" value="{{ actor.data.Will }}" /></td>

        <th>
            <button
                    class="item-button rollable"
                    data-roll-characteristic="Per"
                    data-roll-text="Rolling Per"
                    type="button"
            >
                <i class="fas fa-dice"></i>
            </button>
            Per:
        </th>
        <td><input type="number" class="small-number" name="data.Per" value="{{ actor.data.Per }}" /></td>

        <th>Max FP:</th>
        <td><input type="number" class="small-number" name="data.FP.max" value="{{ actor.data.FP.max }}" /></td>
    </tr>
</table>
