{{#each gear as |item id|}}
<div class="flexrow gear-list">
    <h3>
        <button class="item-button" data-action="delete-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        {{ item.local_name }}
    </h3>
</div>
{{/each}}