{{#each skills as |item id|}}
<div class="flexrow skill-list">
    <h3>
        <button
                class="item-button rollable"
                data-roll-characteristic="{{ item.data.data.characteristic }}"
                data-roll-text="Rolling {{ item.local_name }}"
                data-roll-skill="{{ item._id }}"
                type="button"
        >
            <i class="fas fa-dice"></i>
        </button>

        <button class="item-button" data-action="delete-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-trash"></i>
        </button>

        <button class="item-button" data-action="edit-item" data-item-id="{{ item._id }}" type="button">
            <i class="fas fa-edit"></i>
        </button>
        {{ item.local_name }}
        {{ skillMod item }}
    </h3>
    <input type="number" class="small-number" data-bind="item" data-item-id="{{ item._id }}" data-key="value" value="{{ item.data.value }}" />
</div>
{{/each}}