<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. item.name or item.data.ST.value)  --}}
        <div>
            <span>
                Type:
            </span>
            <select name="data.type">
                {{#select item.data.type }}
                <option value="physical">Physical</option>
                <option value="mental">Mental</option>
                <option value="social">Social</option>
                {{/select }}
            </select>
        </div>

        <div>
            <span>
                Category:
            </span>
            <select name="data.category">
                {{#select item.data.category }}
                <option value="mundane">Mundane</option>
                <option value="exotic">Exotic</option>
                <option value="supernatural">Supernatural</option>
                {{/select }}
            </select>
        </div>

        <div>
            <span>
                Points calculation:
            </span>
            <input type="text" class="small-number" name="data.points_calc" value="{{ item.data.points_calc }}" />
            <div class="help-text">
                *{number} = {number} points per level; {number},{number} 2 levels at given points values
            </div>
        </div>

        <div>
            <span>
                Levels:
            </span>
            <input type="number" class="small-number" name="data.value" value="{{ item.data.value }}" />
        </div>

        <div>
            <textarea rows="10" name="data.description">{{ item.data.description }}</textarea>
        </div>
    </section>

    {{{ partial "templates/partials/debug-entity.html"}}}
</form>