<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. name or data.ST.value)  --}}

        {{{ partial "templates/items/partials/equipment-shared.html"}}}
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>