<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. name or data.ST.value)  --}}
        <div>
            <span>
                Damage:
            </span>
            <input type="text" name="data.damage" value="{{ item.data.damage }}"/>
        </div>

        <div>
            <span>
                Accuracy:
            </span>
            <input type="number" name="data.accuracy" value="{{ item.data.accuracy }}"/>
        </div>

        <div>
            <span>
                Range:
            </span>
            <input type="text" name="data.range" value="{{ item.data.range }}"/>
        </div>

        <div>
            <span>
                RoF:
            </span>
            <input type="text" name="data.rate_of_fire" value="{{ item.data.rate_of_fire }}"/>
        </div>

        <div>
            <span>
                Shots:
            </span>
            <input type="text" name="data.shots" value="{{ item.data.shots }}"/>
        </div>

        <div>
            <span>
                Bulk:
            </span>
            <input type="text" name="data.bulk" value="{{ item.data.bulk }}"/>
        </div>

        <div>
            <span>
                Recoil:
            </span>
            <input type="number" name="data.recoil" value="{{ item.data.recoil }}"/>
        </div>

        <div>
            <span>
                LC:
            </span>
            <input type="number" name="data.legality_class" value="{{ item.data.legality_class }}"/>
        </div>
        {{{ partial "templates/items/partials/equipment-shared.html"}}}
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>