<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{ item.img }}" title="{{ item.name }}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'gurps.NAME' }}" />
            </h1>
        </section>
    </header>

    {{!-- Body --}}
    <section class="sheet-body mt-2 mb-2">
        {{!-- To auto save character data give it a name rooted to the 'item' object (i.e. name or data.ST.value)  --}}
        <div>
            <span>
                Characteristic:
            </span>
            <select name="data.characteristic">
                {{#select item.data.characteristic }}
                    <option value="ST">Str</option>
                    <option value="DX">DX</option>
                    <option value="IQ">IQ</option>
                    <option value="HT">HT</option>
                    <option value="Will">Will</option>
                    <option value="Per">Per</option>
                {{/select }}
            </select>
        </div>

        <div>
            <span>
                Difficulty:
            </span>
            <select name="data.difficulty">
                {{#select item.data.difficulty }}
                <option value="-1">Easy</option>
                <option value="-2">Average</option>
                <option value="-3">Hard</option>
                <option value="-4">Very Hard</option>
                {{/select }}
            </select>
        </div>

        <div>
            <span>
                Specialisation:
            </span>
            <input type="text" name="data.specialisation" value="{{ item.data.specialisation }}" />
        </div>

        <div>
            <span>
                Levels:
            </span>
            <input type="number" class="small-number" name="data.value" value="{{ item.data.value }}" />
        </div>

        <div>
            <textarea rows="10" name="data.description">{{ item.data.description }}</textarea>
        </div>
    </section>
    {{{ partial "templates/partials/debug-entity.html"}}}
</form>